.headers{background-color: black ;}
.headertext{color:white;}
.post{padding-top: 30px; padding-bottom: 30px ;padding-left: 30px;padding-right: 30px ;box-shadow: 0px 5px 15px #888888}
.textos{color:black; padding-top: 50px}
.footerstyle{background-color: black; padding-top: 5px;color: white }
.contacts{padding-left: 100px;padding-right: 100px ;padding-top: 20px;padding-bottom: 60px}
.imagenes{height:262px ; width:100%}
.saltos{height: 0,1px;width: 100%;background-color: black}
.enlaces{color: white}
